@use "./variables" as *;
@use "./mixins" as *;

.footer {
    @include flexCenter();
    height: 7rem;
    width: 100vw;
    margin: 2rem 0 0 -30px;
    background-color: $secondary-color;

    &__icon {
        @include flexCenter();
        color: $highlight-color;

        &--linkedin {
            @include flexCenter();
            @include iconCircleBig();
        }
        &--github {
            @include flexCenter();
            @include iconCircleBig();
        }
        &--cv {
            font-size: 1.5rem;
            font-weight: 700;
            @include flexCenter();
            @include iconCircleBig();
        }
    }
}

// desktop display
@media screen and (min-width: 1200px) {
    .footer {
        width: 6000px;
    }
}