@use "./variables" as *;
@use "./mixins" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &__title {
        font-family: $primary-font;
        font-weight: $primary-font-lightweight;
    }
}

// desktop display
@media screen and (min-width: 390px) {
    .header {
        &__title {
            font-size: $text-size-title-dt;
        }
    }

}

// phone display
@media screen and (max-width: 390px) {
    .header {
        &__title {
            font-size: $text-size-title;
        }
    }

}