@use "./variables" as *;
@use "./mixins" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &__title {
        font-family: $primary-font;
        font-weight: $primary-font-lightweight;
    }

    &__divider {
        color: $highlight-color;
        margin-left: 0;
    }

    &__summary {
        @include contentStyling();
    }
}

// desktop display
@media screen and (min-width: 1200px) {
    .header {
        &__title {
            font-size: $text-size-title-dt;
        }

        &__divider {
            border: 3px solid;
            width: 6%;
        }

        &__summary {
            width: 35%;
        }
    }
}

// phone display
@media screen and (max-width: 400px) {
    .header {
        &__title {
            font-size: $text-size-title;
        }

        &__divider {
            border: 2px solid;
            width: 25%;
        }
    }
}