@use "./variables" as *;
@use "./mixins" as *;

.history {
    &__title {
        margin-top: 4rem;
        font-family: $primary-font;
        font-weight: $primary-font-heavywieght;
    }
    &__divider {
        color: $highlight-color;
        border: 1px solid;
        margin-left: 0;
        width: 15%;
    }
    &__thin-line {
        color: $tertiary-color;
        border: 1px solid
    }
    &__expander {
        font-family: $primary-font;
        font-size: $primary-font-lightweight;
        font-size: $text-size-content;
    }
}



// desktop display
@media screen and (min-width: 1200px) {
    .history {
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr;
        gap: 20px;
        grid-template-areas:
        "experience interests";

        margin-left: 200px;
        width: 85%;

        &__experience {
            width: 80%;
        }
        &__interests {
            width: 80%;
        }
        &__title {
            font-size: $text-size-subtitle-dt;
        }
    }
}

// phone display
@media screen and (max-width: 400px) {
    .history {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        &__title {
            font-size: $text-size-subtitle;
        }
        &__experience {
            width: 100%;
        }
        &__interests {
            width: 100%;
        }
    }
}