@use "./variables" as *;

@mixin contentStyling() {
    font-family: $secondary-font;
    font-size: $text-size-content;
    font-weight: $secondary-font-lightweight;
    line-height: 1.8;
}
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin iconCircle() {
    height: 2.5rem;
    background-color: $secondary-color;
    width: 2.5rem;
    border-radius: 1.25rem;
    margin: 0 0.5rem;
}
@mixin iconCircleBig() {
    height: 4rem;
    background-color: $tertiary-color;
    width: 4rem;
    border-radius: 2rem;
    margin: 0 0.5rem;
}
