@use "./variables" as *;
@use "./mixins" as *;

.nav {
   display: flex;
   justify-content: space-between; 
   align-items: center;

   &__name {
       font-family: $primary-font;
       font-weight: $primary-font-heavywieght;
       font-size: $text-size-subtitle;
       &--highlight {
           color: $text-secondary-color;
       }
   }

   &__button {
        text-decoration: none;
        color: $text-color;
        font-weight: $secondary-font-lightweight;
        font-size: 20px;
    //    underline on hover
   }
}

// desktop display
@media screen and (min-width: 1200px) {
    .nav {
        &__name {
            font-size: $text-size-subtitle-dt;
        }

        &__sidebar-icon {
            display: none;
        }
    }
}

// phone display
@media screen and (max-width: 400px) {
    .nav {
        &__links {
            display: none;
        }
    }
}