@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Source+Code+Pro:wght@300;500&display=swap');

$primary-color: #2C2A2A;
$secondary-color: #3b3636;
$tertiary-color: #453F3F;
$highlight-color: #d9bea5;
$text-color: white;
$text-secondary-color: #d9bea5;

$new-color-dark: #512d38;
$new-color-mid: #b27092;
$new-color-light: #f4bfdb;
$new-color-black: #25171b;
$new-color-white: #ffe9f3;
$new-color-accent: #87baab;

$primary-font: 'Mulish', sans-serif;
$secondary-font: 'Source Code Pro', monospace;
$font-heavy: 500;
$font-light: 300;


$text-size-content: 16px;
$text-size-subtitle: 24px;
$text-size-section: 32px;
$text-size-title: 80px;

$text-size-subtitle-dt: 32px;
$text-size-section-dt: 64px;
$text-size-title-dt: 128px;
