@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@400;500&display=swap');

$primary-color: #2C2A2A;
$secondary-color: #3b3636;
$tertiary-color: #453F3F;
$highlight-color: #d9bea5;
$text-color: white;
$text-secondary-color: #d9bea5;

$primary-font: 'Cormorant', serif;
$primary-font-heavywieght: 700;
$primary-font-lightweight: 400;
$secondary-font: 'Inter', sans-serif;
$secondary-font-heavyweight: 500;
$secondary-font-lightweight: 400;

$text-size-content: 16px;
$text-size-subtitle: 24px;
$text-size-section: 32px;
$text-size-title: 80px;

$text-size-subtitle-dt: 32px;
$text-size-section-dt: 64px;
$text-size-title-dt: 128px;
